{% extends 'base.html.twig' %}

{% block body %}
    <div class="header">
        {{ cards('journal.header') }}
    </div>
    <div class="articles">
        {{ cards('journal.article.learn') }}
        {{ cards('journal.article.picture') }}
        {{ cards('journal.article.work') }}
    </div>
    <div class="footer">
        {{ cards('journal.footer') }}
    </div>
{% endblock %}
